html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fffdfd;
}

.mobile-container {
    max-width: 480px;
    margin: auto;
    height: 500px;
    border-radius: 10px;
}

.topnav {
    overflow: hidden;
    background-color: #cdcdcd;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: -10px;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.icon {
    float: right;
}

.topnav a:hover {
    background-color: #69596A;
    color: white;
}

.active {
    background-color: #EA5045;
}

.logInd {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 150px 0 100px 0;
}

.logInd h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 4rem;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 300px;

}

.uname {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #ea5045;
    background-color: #ffb4aa;
    border: solid #ea5045;
    padding: 20px;
    margin: 10px 30px 10px 30px;
    font-size: 1rem;
}

.psw {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #ea5045;
    background-color: #ffb4aa;
    border: solid #ea5045;
    padding: 20px;
    margin: 10px 30px 10px 30px;
    font-size: 1rem;
}

.submit {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #F58E81;
    border-radius: 10px;
    padding: 20px;
    border: 0;
    font-size: 2rem;
    margin: 10px 10px 10px 10px;
}
