html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f58e81;
}

.mobile-container {
    max-width: 480px;
    margin: auto;
    height: 500px;
    border-radius: 10px;
}

.topnav {
    overflow: hidden;
    background-color: #cdcdcd;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: -10px;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.icon {
    float: right;
}

.topnav a:hover {
    background-color: #69596A;
    color: white;
}

.active {
    background-color: #EA5045;
}

.forside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 500px;
}

.forside h1 {
    font-size: 16rem;
    font-family: 'Roboto', sans-serif;
    margin: 150px 0 0 0;
    font-weight: bold;
    width: 700px;
    height: 245px;
    color: #000000;
}

.forside h2 {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: bold;
    width: 0;
    color: #000000;
}

#logIndKnap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#logIndKnap p {
    background-color: #000000;
    color: #fffdfd;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    width: 200px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

.hide {
    visibility: hidden;
}

@media only screen and (max-width: 560px) {
    .forside h1 {
        width: 580px;
    }
}
